.inputLabel{
    display: flex;
    word-wrap: break-word;
    .label-text{
        width: 40%
    }
    .label-input{
        width: 60%;
        font-weight: bold;
        font-size: 1em;
        border: none;
        border-bottom: 2px solid $primaryColor;
        outline: none;
    }
}