.promoSide{
    background-color: $primaryColor;
    border-top-left-radius:26px;
    border-bottom-left-radius:26px;
    padding: 1em;

    

    .largeLogo{
        height: 172px;
        width: auto;
        max-width: 369px;
        margin: auto;
        padding: 2em;
    }
}